// COLORS:
$green-1: rgb(16, 138, 49);
$green-2: rgb(24, 204, 72);
$green-3: rgb(7, 58, 20);
$green-4: rgb(129, 227, 155);
$green-5: rgb(94, 228, 130);

$dark-1: rgb(23, 26, 23);
$dark-2: rgb(47, 52, 47);
$dark-3: rgb(81, 90, 81);
$dark-4: rgb(54, 75, 54);
$dark-5: rgb(29, 29, 29);

$light-1: rgb(209, 209, 209);
$light-2: rgb(158, 173, 158);
$light-3: rgb(201, 230, 201);
$light-4: rgb(44, 44, 44);